{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "bracketSameLine": true,
    "plugins": ["prettier-plugin-svelte"],
    "svelteSortOrder": "scripts-options-markup-styles"
}
