@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('source-code-pro/source-code-pro-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('inter/inter-v8-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('inter/inter-v8-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Air.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 100;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-AirItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 200;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 500;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Aeonik Pro';
    font-style: italic;
    font-weight: 700;
    src: local('Aeonik Pro'), local('AeonikPro'),
        url('aeonik-pro/AeonikPro-BlackItalic.woff2') format('woff2');
}
