name: Dockerize Profiles

on:
  push:
    branches: [feat-profiles]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [feat-profiles]
  workflow_dispatch:

jobs:
  dockerize-profiles:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: appwrite/console-cloud
            tags: |
                type=ref,event=branch,prefix=branch-
                type=ref,event=pr
                type=sha,prefix=sha-
                type=raw,value=gh-${{ github.run_id}}
            flavor: |
              latest=false

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
            context: .
            push: true
            platforms: linux/amd64,linux/arm64
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
