name: Tests

on:
    pull_request:
        branches: ['**']
        paths-ignore:
            - '**/*.md'
            - 'static/**/*'

env:
    PUBLIC_APPWRITE_ENDPOINT: http://appwrite.test/v1

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Get pnpm store directory
              shell: bash
              run: |
                  echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

            - name: Setup pnpm cache
              uses: actions/cache@v4
              with:
                  path: ${{ env.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Audit dependencies
              run: pnpm audit --audit-level high

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Svelte Diagnostics
              run: pnpm run check

            - name: Linter
              run: pnpm run lint

            - name: Unit Tests
              run: pnpm run test

            - name: Build Console
              run: pnpm run build
