name: Tests

on:
    pull_request:
        branches: ['**']
        paths-ignore:
            - '**/*.md'
            - 'static/**/*'

env:
    PUBLIC_APPWRITE_ENDPOINT: http://appwrite.test/v1

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Audit dependencies
              run: bun audit --audit-level high

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Svelte Diagnostics
              run: bun check

            - name: Linter
              run: bun lint

            - name: Unit Tests
              run: bun test:unit

            - name: Build Console
              run: bun run build
