name: Tests

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env:
    VITE_APPWRITE_ENDPOINT: http://appwrite.test/v1

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 18
            - name: Audit dependencies
              run: npm audit --audit-level low
            - name: Install dependencies
              run: npm ci
            - name: Svelte Diagnostics
              run: npm run check
            - name: Linter
              run: npm run lint
            - name: Unit Tests
              run: npm test
            - name: Build Console
              run: npm run build
